body {
    background-color: #21546e;
    font-family: verdana, sans-serif;
    color: white;
}

.container {
    margin: 0 auto;
    text-align: center;
}

.header {
    margin-top: 50px;
}

h1 {
    font-size: 50px;
}

.controls {
    margin-top: 40px;
}

.checkBox {
    margin-left: 40px;
}

.boardContainer {
    margin-top: 40px;
}

.row {
    font-size: 0px;
}

.row > div {
    padding: 0;
    display: inline-block;
    font-size: 40px;
    color: black;
    /*   border: solid 1px white; */
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: top;
    line-height: 50px;
}

.mine {
    border-style: solid;
    border-width: 3px;
    border-color: darkgrey;
    background-color: whitesmoke;
}

.flag {
    background-color: lightslategray;
}

.clear {
    background-color: darkgrey;
}

.reset {
    margin-top: 100px;
}

.list-group-item {
  text-align:center;
}