<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Mine Sweeper</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</head>

<body background="dirt4.jpg">

<div class="container">
    <!-- header sections -->
    <div class="header">
        <h1>Mine Sweeper</h1>
    </div>

    <br>
    <br>

    <div>
        <div class=linkbox onclick="location.href = '/play'">PLAY</div>
        <div class=linkbox onclick="location.href = '/leaderboards'">LEADERBOARD</div>
    </div>
    <div id="footer">
        Copyright © 2019 WebApps 4710 Group 13.
    </div>
</div>
</body>

</html>
