<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta charset="UTF-8">
    <title>leaderboards</title>
</head>


<body>
        <h1>Leaderboard</h1>
    <div class="jumbotron">
        <ul class="list-group">
          <li class="list-group-item list-group-item-primary">1: </li>
          <li class="list-group-item list-group-item-secondary">2: </li>
          <li class="list-group-item list-group-item-success">3: </li>
          <li class="list-group-item list-group-item-danger">4: </li>
          <li class="list-group-item list-group-item-warning">5: </li>
          <li class="list-group-item list-group-item-info">6: </li>
        </ul>

    </div>

</body>
</html>