<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta charset="UTF-8">
    <title>leaderboards</title>
</head>


<body>

    <h1 align="center">Leaderboard</h1>

    <div class="jumbotron">
        <ul class="list-group">
          <li class="list-group-item list-group-item-primary"><div style="font-weight:bold;">1: {{ result[0] }}</div></li>
          <li class="list-group-item list-group-item-secondary"><div style="font-weight:bold;">2: {{ result[1] }}</div></li>
          <li class="list-group-item list-group-item-success"><div style="font-weight:bold;">3: {{ result[2] }}</div></li>
          <li class="list-group-item list-group-item-danger"><div style="font-weight:bold;">4: {{ result[3] }}</div></li>
          <li class="list-group-item list-group-item-warning"><div style="font-weight:bold;">5: {{ result[4] }}</div></li>
          <li class="list-group-item list-group-item-info"><div style="font-weight:bold;">6: {{ result[5] }}</div></li>
        </ul>

    </div>

</body>
</html>